@-webkit-keyframes deform {
  50% {
    border-radius: 70% 50% 70% 50% / 50% 50% 70% 70%;
  }
}

@keyframes deform {
  50% {
    border-radius: 70% 50% 70% 50% / 50% 50% 70% 70%;
  }
}

@-webkit-keyframes deformRotate {
  50% {
    border-radius: 60% 40% 40% 60% / 40% 40% 60% 60%;
  }
}

@keyframes deformRotate {
  50% {
    border-radius: 60% 40% 40% 60% / 40% 40% 60% 60%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  background-color: #a2ae9e;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

::-moz-selection {
  background-color: #c5c3aa;
}

::selection {
  background-color: #c5c3aa;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #a2ae9e;
  overflow: hidden;
  z-index: 999999;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.wrapper .loader {
  background-color: #1b1145;
  width: 240px;
  height: 240px;
  position: absolute;
  pointer-events: none;
  z-index: 999999;
  -webkit-animation: deformRotate 5.4s linear infinite;
          animation: deformRotate 5.4s linear infinite;
  border-radius: 40% 60% 60% 40% / 60% 60% 40% 40%;
}

.wrapper h1 {
  font-size: 140px;
  color: transparent;
  -webkit-text-stroke: 3px #84691f;
  margin-top: -300px;
  z-index: 999999;
}

.wrapper svg {
  overflow: visible;
  height: 100%;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.wrapper path {
  margin-top: -50px;
  stroke-width: 1;
  fill: transparent;
  stroke: transparent;
}

main {
  display: none;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-in;
  transition: opacity 0.8s ease-in;
  background-color: #290a38;
}

main section#nav {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

main section#nav p {
  width: 160%;
}

main section#nav p:nth-child(2) {
  -webkit-transform: translateX(-720px);
          transform: translateX(-720px);
}

main section#nav p span {
  font-size: 9rem;
  letter-spacing: 1.1px;
  color: transparent;
  -webkit-text-stroke: 1px #ddc06e;
  text-transform: capitalize;
  font-family: 'DM Serif Display', serif;
  margin-right: 90px;
  position: relative;
  font-style: normal;
  cursor: pointer;
}

main section#nav p:nth-child(1) span:nth-child(2n+1) {
  font-style: italic;
}

main section#nav p:nth-child(1) span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #c5c3aa;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main section#nav p:nth-child(1) span:nth-child(1)::before {
  content: "About";
}

main section#nav p:nth-child(1) span:nth-child(2)::before {
  content: "Artworks";
}

main section#nav p:nth-child(1) span:nth-child(3)::before {
  content: "Websites";
}

main section#nav p:nth-child(1) span:nth-child(4)::before {
  content: "Contact";
}

main section#nav p:nth-child(1) span:hover::before {
  opacity: 1;
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
}

main section#nav p:nth-child(2) span:nth-child(2n) {
  font-style: italic;
}

main section#nav p:nth-child(2) span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #c5c3aa;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main section#nav p:nth-child(2) span:nth-child(4)::before {
  content: "About";
}

main section#nav p:nth-child(2) span:nth-child(3)::before {
  content: "Artworks";
}

main section#nav p:nth-child(2) span:nth-child(2)::before {
  content: "Websites";
}

main section#nav p:nth-child(2) span:nth-child(1)::before {
  content: "Contact";
}

main section#nav p:nth-child(2) span:hover::before {
  opacity: 1;
  -webkit-transform: translate(-10px, 10px);
          transform: translate(-10px, 10px);
}

main section#about {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, -50%) scaleY(0);
          transform: translate(-50%, -50%) scaleY(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c5c3aa;
  z-index: 1;
  opacity: 0;
  border-radius: 50%;
}

main section#about .about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px 0;
  padding: 0 150px;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

main section#about .about-wrapper .about-img {
  width: 500px;
  height: 500px;
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

main section#about .about-wrapper .about-img img {
  -webkit-filter: saturate(0);
          filter: saturate(0);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .6s;
  transition: all .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform: translate(0px, 0px) scale(1);
          transform: translate(0px, 0px) scale(1);
}

main section#about .about-wrapper .about-img img:hover {
  -webkit-filter: saturate(0.99) contrast(0.99);
          filter: saturate(0.99) contrast(0.99);
  -webkit-transform: translate(0px, 0px) scale(1.05);
          transform: translate(0px, 0px) scale(1.05);
}

main section#about .about-wrapper .text {
  z-index: 2;
  width: 600px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  mix-blend-mode: color-burn;
}

main section#about .about-wrapper .text h2 {
  width: 106%;
  font-size: 5rem;
  font-style: italic;
  line-height: 84px;
  letter-spacing: 1.1px;
  margin-bottom: 16px;
  color: #615f42;
}

main section#about .about-wrapper .text h3 {
  color: #777755;
  /* font-style: italic; */
  font-weight: 800;
  font-size: 2.2rem;
  margin-bottom: 12px;
}

main section#about .about-wrapper .text p {
  width: 100%;
  font-size: 1.2rem;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #615f42;
  margin-bottom: -60px;
}

main section#about .about-wrapper .text p a {
  text-decoration: none;
  color: #777755;
  font-style: italic;
  mix-blend-mode: multiply !important;
  display: inline-block;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

main section#about .about-wrapper .text p a:hover {
  color: #24165a;
}

main section#about .back {
  position: absolute;
  top: 30px;
  right: 35px;
  font-style: italic;
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  color: #1b1145;
  cursor: pointer;
}

main section#about .back::before {
  content: "";
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: #1b1145;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main section#about .back:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

main section#about .lines-tr {
  opacity: 1;
  background-color: #1b1145;
  z-index: 999998;
}

main section#about .lines-tr::before {
  opacity: 1;
  background-color: #1b1145;
}

main section#about .lines-bl {
  opacity: 1;
  background-color: #1b1145;
  z-index: 999998;
}

main section#about .lines-bl::before {
  opacity: 1;
  background-color: #1b1145;
}

main section#artworks {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleY(0);
          transform: translate(-50%, -50%) scaleY(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c5c3aa;
  z-index: 1;
  opacity: 0;
  border-radius: 50%;
}

main section#artworks .works-wrapper {
  margin: 0px 0px 0px 0;
  padding: 0 223px;
  width: 100vw;
  height: auto;
  overflow-y: scroll;
}

main section#artworks .works-wrapper::-webkit-scrollbar {
  width: 10px;
  opacity: 1;
}

main section#artworks .works-wrapper::-webkit-scrollbar-track {
  background: transparent;
  width: 7px;
  margin: 0px;
}

main section#artworks .works-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24);
  opacity: 0.1;
  width: 7px;
  margin: 0px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

main section#artworks .works-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

main section#artworks .works-wrapper .work-container {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#artworks .works-wrapper .work-container .work-img {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

main section#artworks .works-wrapper .work-container .work-img img {
  -webkit-filter: saturate(0);
          filter: saturate(0);
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .6s;
  transition: all .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform: translate(0px, 0px) scale(1);
          transform: translate(0px, 0px) scale(1);
}

main section#artworks .works-wrapper .work-container .work-img img:hover {
  -webkit-filter: saturate(0.99) contrast(0.99);
          filter: saturate(0.99) contrast(0.99);
  -webkit-transform: translate(0px, 0px) scale(1.05);
          transform: translate(0px, 0px) scale(1.05);
}

main section#artworks .works-wrapper .work-container div.work-title {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section#artworks .works-wrapper .work-container div.work-title a {
  text-decoration: none;
  width: 100%;
  margin-left: -100px;
  margin-top: 80px;
  cursor: pointer;
}

main section#artworks .works-wrapper .work-container div.work-title a p {
  font-size: 5rem;
  line-height: 75px;
  letter-spacing: 1.1px;
  color: #615f42;
  mix-blend-mode: color-burn;
  z-index: 2;
  position: relative;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main section#artworks .works-wrapper .work-container div.work-title a p:hover {
  mix-blend-mode: normal;
}

main section#artworks .back {
  position: absolute;
  top: 30px;
  right: 35px;
  font-style: italic;
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  color: #1b1145;
  cursor: pointer;
}

main section#artworks .back::before {
  content: "";
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: #1b1145;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main section#artworks .back:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

main section#artworks .lines-tr {
  opacity: 1;
  background-color: #1b1145;
  z-index: 999998;
}

main section#artworks .lines-tr::before {
  opacity: 1;
  background-color: #1b1145;
}

main section#artworks .lines-bl {
  opacity: 1;
  background-color: #1b1145;
  z-index: 999998;
}

main section#artworks .lines-bl::before {
  opacity: 1;
  background-color: #1b1145;
}

main section#websites {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleY(0);
          transform: translate(-50%, -50%) scaleY(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c5c3aa;
  z-index: 1;
  opacity: 0;
  border-radius: 50%;
}

main section#websites .works-wrapper {
  margin: 0px 0px 0px 0;
  padding: 0 223px;
  width: 100vw;
  height: auto;
  overflow-y: scroll;
}

main section#websites .works-wrapper::-webkit-scrollbar {
  width: 10px;
  opacity: 1;
}

main section#websites .works-wrapper::-webkit-scrollbar-track {
  background: transparent;
  width: 7px;
  margin: 0px;
}

main section#websites .works-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24);
  opacity: 0.1;
  width: 7px;
  margin: 0px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

main section#websites .works-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

main section#websites .works-wrapper .work-container {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#websites .works-wrapper .work-container .work-img {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

main section#websites .works-wrapper .work-container .work-img img {
  -webkit-filter: saturate(0);
          filter: saturate(0);
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .6s;
  transition: all .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform: translate(0px, 0px) scale(1);
          transform: translate(0px, 0px) scale(1);
}

main section#websites .works-wrapper .work-container .work-img img:hover {
  -webkit-filter: saturate(0.99) contrast(0.99);
          filter: saturate(0.99) contrast(0.99);
  -webkit-transform: translate(0px, 0px) scale(1.05);
          transform: translate(0px, 0px) scale(1.05);
}

main section#websites .works-wrapper .work-container div.work-title {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section#websites .works-wrapper .work-container div.work-title a {
  text-decoration: none;
  width: 100%;
  margin-left: -100px;
  margin-top: 80px;
  cursor: pointer;
}

main section#websites .works-wrapper .work-container div.work-title a p {
  font-size: 5rem;
  line-height: 75px;
  letter-spacing: 1.1px;
  color: #615f42;
  z-index: 2;
  position: relative;
  mix-blend-mode: color-burn;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main section#websites .works-wrapper .work-container div.work-title a p:hover {
  mix-blend-mode: normal;
}

main section#websites .back {
  position: absolute;
  top: 30px;
  right: 35px;
  font-style: italic;
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  color: #1b1145;
  cursor: pointer;
}

main section#websites .back::before {
  content: "";
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: #1b1145;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main section#websites .back:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

main section#websites .lines-tr {
  opacity: 1;
  background-color: #1b1145;
  z-index: 999998;
}

main section#websites .lines-tr::before {
  opacity: 1;
  background-color: #1b1145;
}

main section#websites .lines-bl {
  opacity: 1;
  background-color: #1b1145;
  z-index: 999998;
}

main section#websites .lines-bl::before {
  opacity: 1;
  background-color: #1b1145;
}

main section#contact {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleY(0);
          transform: translate(-50%, -50%) scaleY(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #c5c3aa;
  z-index: 1;
  opacity: 0;
  border-radius: 50%;
  padding: 0 223px;
}

main section#contact h2#find-me {
  font-size: 5rem;
  line-height: 84px;
  letter-spacing: 1.1px;
  margin-bottom: 16px;
  color: #615f42;
  mix-blend-mode: color-burn;
}

main section#contact .social-media-links {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#contact .social-media-links a {
  text-decoration: none;
}

main section#contact .social-media-links a:not(:last-child) {
  margin-right: 24px;
}

main section#contact .social-media-links a p {
  font-size: 2.4rem;
  line-height: 48px;
  letter-spacing: 1.1px;
  color: #615f42;
  mix-blend-mode: color-burn;
  z-index: 2;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

main section#contact .social-media-links a p:hover {
  color: #4b1367;
}

main section#contact h2#feel-free {
  font-size: 2.2rem;
  font-weight: 200;
  line-height: 84px;
  letter-spacing: 1.1px;
  margin-bottom: 0px;
  color: #615f42;
  mix-blend-mode: color-burn;
}

main section#contact h2#feel-free a {
  font-weight: 800;
  text-decoration: none;
  color: #95956a;
  font-style: italic;
  mix-blend-mode: multiply !important;
  display: inline-block;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
}

main section#contact h2#feel-free a:hover {
  color: #24165a;
}

main section#contact h2#feel-free a.copied::before {
  content: "Successfully Copied!";
  position: absolute;
  top: -10%;
  left: -28%;
  width: 140px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 26px;
  color: #24165a;
  font-style: normal;
  font-weight: 200;
  font-family: Helvetica;
  opacity: 1;
  letter-spacing: 0.2px;
  font-size: 0.8rem;
  background-color: white;
  border: 1px solid #24165a;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  mix-blend-mode: normal;
}

main section#contact h2#feel-free a.copied::after {
  content: "";
  position: absolute;
  top: 13%;
  left: 47%;
  width: 9px;
  height: 9px;
  opacity: 1;
  z-index: 1;
  background-color: white;
  border: 1px solid #24165a;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  mix-blend-mode: normal;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main section#contact h2#feel-free a:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

main section#contact .back {
  position: absolute;
  top: 30px;
  right: 35px;
  font-style: italic;
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  color: #1b1145;
  cursor: pointer;
}

main section#contact .back::before {
  content: "";
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: #1b1145;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main section#contact .back:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

main section#contact .lines-tr {
  opacity: 1;
  background-color: #1b1145;
  z-index: 999998;
}

main section#contact .lines-tr::before {
  opacity: 1;
  background-color: #1b1145;
}

main section#contact .lines-bl {
  opacity: 1;
  background-color: #1b1145;
  z-index: 999998;
}

main section#contact .lines-bl::before {
  opacity: 1;
  background-color: #1b1145;
}

/* MOUSE TRACKER START */
#tracker {
  display: none;
  width: 75px;
  height: 75px;
  background: #1b1145;
  border-radius: 50% 70% 50% 70% / 70% 70% 50% 50%;
  position: absolute;
  opacity: 1;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
  pointer-events: none;
  z-index: 9999999;
  mix-blend-mode: overlay;
  -webkit-animation: deform 3.6s ease infinite;
          animation: deform 3.6s ease infinite;
}

#tracker.scale-up {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.logo {
  position: absolute;
  top: 20px;
  left: 14px;
  line-height: 27px;
  font-size: 1.05rem;
  letter-spacing: 0px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
  opacity: .7;
  font-family: Helvetica !important;
  font-weight: 100;
  color: #ddc06e;
  text-transform: capitalize;
  font-family: 'DM Serif Display', serif;
  margin-right: 50px;
  font-style: italic;
  z-index: 999998;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.copyright {
  position: absolute;
  bottom: 15px;
  right: -33px;
  font-size: 0.9rem;
  letter-spacing: 2.8px;
  opacity: .7;
  font-family: Helvetica !important;
  font-weight: 200;
  color: #ddc06e;
  text-transform: capitalize;
  font-family: 'DM Serif Display', serif;
  margin-right: 50px;
  font-style: italic;
  z-index: 999998;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.lines-tr {
  position: fixed;
  top: 20px;
  right: 0px;
  opacity: .7;
  width: 200px;
  height: 1px;
  background-color: #ddc06e;
  z-index: 1;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.lines-tr::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 20px;
  opacity: .7;
  width: 1px;
  height: 125px;
  background-color: #ddc06e;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.lines-bl {
  position: fixed;
  bottom: 20px;
  left: 0px;
  opacity: .7;
  width: 200px;
  height: 1px;
  background-color: #ddc06e;
  z-index: 1;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.lines-bl::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 20px;
  opacity: .7;
  width: 1px;
  height: 125px;
  background-color: #ddc06e;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

@media only screen and (max-width: 1170px) {
  .wrapper .loader {
    width: 220px;
    height: 220px;
  }
  .wrapper h1 {
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 2.4px #84691f;
    margin-top: -300px;
  }
  .wrapper svg {
    overflow: visible;
  }
  .wrapper path {
    margin-top: -50px;
  }
  main {
    height: 100vh;
    width: 100vw;
  }
  main section#nav {
    width: 100%;
    height: 100vh;
  }
  main section#nav p {
    width: 160%;
  }
  main section#nav p:nth-child(2) {
    -webkit-transform: translateX(-720px);
            transform: translateX(-720px);
  }
  main section#nav p span {
    font-size: 5rem;
    letter-spacing: 1.1px;
    -webkit-text-stroke: 1px #ddc06e;
    margin-right: 60px;
  }
  main section#nav p:nth-child(1) span:hover::before {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  main section#nav p:nth-child(2) span:hover::before {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  main section#about {
    width: 100%;
    height: 100vh;
  }
  main section#about .about-wrapper {
    margin: 0px 0px 0px 0;
    padding: 120px 120px 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main section#about .about-wrapper .about-img {
    width: 45%;
    height: 300px;
    margin-top: 0px;
  }
  main section#about .about-wrapper .about-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#about .about-wrapper .text {
    width: 60%;
    height: auto;
    margin-left: 32px;
  }
  main section#about .about-wrapper .text h2 {
    width: 100%;
    font-size: 2.6rem;
    line-height: 45px;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  main section#about .about-wrapper .text h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  main section#about .about-wrapper .text p {
    width: 100%;
    font-size: .95rem;
    line-height: 23px;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
  }
  main section#about .back {
    top: 35px;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  main section#artworks {
    width: 100%;
    height: 100%;
  }
  main section#artworks .works-wrapper {
    margin: 0px 0px 0px 0;
    padding: 0 223px;
  }
  main section#artworks .works-wrapper .work-container {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 125%;
    height: 320px;
  }
  main section#artworks .works-wrapper .work-container .work-img {
    width: 80%;
    height: 100%;
  }
  main section#artworks .works-wrapper .work-container .work-img img {
    height: 320px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#artworks .works-wrapper .work-container div.work-title {
    width: 54%;
    height: 100%;
  }
  main section#artworks .works-wrapper .work-container div.work-title a {
    width: 100%;
    margin-left: -80px;
    margin-top: 50px;
  }
  main section#artworks .works-wrapper .work-container div.work-title a p {
    font-size: 3.5rem;
    line-height: 60px;
    letter-spacing: 1px;
  }
  main section#artworks .back {
    top: 35px;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  main section#websites {
    width: 100%;
    height: 100%;
  }
  main section#websites .works-wrapper {
    margin: 0px 0px 0px 0;
    padding: 0 223px;
  }
  main section#websites .works-wrapper .work-container {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 125%;
    height: 320px;
  }
  main section#websites .works-wrapper .work-container .work-img {
    width: 80%;
    height: 100%;
  }
  main section#websites .works-wrapper .work-container .work-img img {
    height: 320px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#websites .works-wrapper .work-container div.work-title {
    width: 54%;
    height: 100%;
  }
  main section#websites .works-wrapper .work-container div.work-title a {
    width: 100%;
    margin-left: -80px;
    margin-top: 50px;
  }
  main section#websites .works-wrapper .work-container div.work-title a p {
    font-size: 3.5rem;
    line-height: 60px;
    letter-spacing: 1px;
  }
  main section#websites .back {
    top: 35px;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  main section#contact {
    padding: 0 180px;
  }
  main section#contact h2#find-me {
    font-size: 3rem;
    line-height: 84px;
    letter-spacing: 1.1px;
    margin-bottom: 0px;
  }
  main section#contact .social-media-links {
    margin-bottom: 32px;
  }
  main section#contact .social-media-links a {
    text-decoration: none;
  }
  main section#contact .social-media-links a:not(:last-child) {
    margin-right: 16px;
  }
  main section#contact .social-media-links a p {
    font-size: 1.8rem;
    line-height: 32px;
    letter-spacing: 1px;
  }
  main section#contact h2#feel-free {
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 32px;
    letter-spacing: 1px;
    margin-bottom: 0px;
  }
  main section#contact h2#feel-free a {
    font-weight: 800;
  }
  main section#contact h2#feel-free a.copied::before {
    top: -75%;
    left: -28%;
    width: 140px;
    height: 24px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-size: 0.8rem;
  }
  main section#contact h2#feel-free a.copied::after {
    top: -26%;
    left: 47%;
    width: 9px;
    height: 9px;
  }
  main section#contact .back {
    top: 35px;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  .logo {
    line-height: 26px;
    font-size: 1rem;
  }
  .copyright {
    font-size: 0.75rem;
    letter-spacing: 2.4px;
  }
}

@media only screen and (max-width: 1001px) {
  .wrapper .loader {
    width: 180px;
    height: 180px;
  }
  .wrapper h1 {
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 2.4px #84691f;
    margin-top: -300px;
  }
  .wrapper svg {
    overflow: visible;
  }
  .wrapper path {
    margin-top: -50px;
  }
  main {
    height: 100vh;
    width: 100vw;
  }
  main section#nav {
    width: 100%;
    height: 100vh;
  }
  main section#nav p {
    width: 160%;
  }
  main section#nav p:nth-child(2) {
    -webkit-transform: translateX(-720px);
            transform: translateX(-720px);
  }
  main section#nav p span {
    font-size: 4rem;
    letter-spacing: 1px;
    -webkit-text-stroke: 0.6px #ddc06e;
    margin-right: 50px;
  }
  main section#nav p:nth-child(1) span:hover::before {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  main section#nav p:nth-child(2) span:hover::before {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  main section#about {
    width: 100%;
    height: 100vh;
  }
  main section#about .about-wrapper {
    padding: 110px 110px 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main section#about .about-wrapper .about-img {
    width: 50%;
    height: 240px;
    margin-top: 0px;
  }
  main section#about .about-wrapper .about-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#about .about-wrapper .text {
    width: 60%;
    height: auto;
    margin-left: 30px;
  }
  main section#about .about-wrapper .text h2 {
    width: 100%;
    font-size: 2.1rem;
    line-height: 35px;
    letter-spacing: 1px;
    margin-bottom: 8px;
  }
  main section#about .about-wrapper .text h3 {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
  main section#about .about-wrapper .text p {
    width: 100%;
    font-size: 0.8rem;
    line-height: 19px;
    letter-spacing: 0.3px;
    margin-bottom: 0px;
  }
  main section#about .back {
    top: 30px;
    right: 30px;
    font-size: 0.9rem;
    letter-spacing: 0.7px;
  }
  main section#about .lines-tr {
    top: 18px;
    width: 160px;
  }
  main section#about .lines-tr::before {
    top: -18px;
    right: 18px;
    height: 105px;
  }
  main section#about .lines-bl {
    bottom: 18px;
    width: 160px;
  }
  main section#about .lines-bl::before {
    bottom: -18px;
    left: 18px;
    height: 105px;
  }
  main section#artworks {
    width: 100%;
    height: 100%;
  }
  main section#artworks .works-wrapper {
    padding: 0 183px;
  }
  main section#artworks .works-wrapper::-webkit-scrollbar {
    width: 8px;
  }
  main section#artworks .works-wrapper::-webkit-scrollbar-track {
    width: 6px;
  }
  main section#artworks .works-wrapper::-webkit-scrollbar-thumb {
    width: 6px;
  }
  main section#artworks .works-wrapper .work-container {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 130%;
    height: 250px;
  }
  main section#artworks .works-wrapper .work-container .work-img {
    width: 76%;
  }
  main section#artworks .works-wrapper .work-container .work-img img {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#artworks .works-wrapper .work-container div.work-title {
    width: 54%;
  }
  main section#artworks .works-wrapper .work-container div.work-title a {
    margin-left: -60px;
    margin-top: 40px;
  }
  main section#artworks .works-wrapper .work-container div.work-title a p {
    font-size: 2.6rem;
    line-height: 42px;
    letter-spacing: 0px;
  }
  main section#artworks .back {
    top: 30px;
    right: 30px;
    font-size: 0.9rem;
    letter-spacing: 0.7px;
  }
  main section#artworks .lines-tr {
    top: 18px;
    width: 160px;
  }
  main section#artworks .lines-tr::before {
    top: -18px;
    right: 18px;
    height: 105px;
  }
  main section#artworks .lines-bl {
    bottom: 18px;
    width: 160px;
  }
  main section#artworks .lines-bl::before {
    bottom: -18px;
    left: 18px;
    height: 105px;
  }
  main section#websites {
    width: 100%;
    height: 100%;
  }
  main section#websites .works-wrapper {
    padding: 0 183px;
  }
  main section#websites .works-wrapper::-webkit-scrollbar {
    width: 8px;
  }
  main section#websites .works-wrapper::-webkit-scrollbar-track {
    width: 6px;
  }
  main section#websites .works-wrapper::-webkit-scrollbar-thumb {
    width: 6px;
  }
  main section#websites .works-wrapper .work-container {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 130%;
    height: 250px;
  }
  main section#websites .works-wrapper .work-container .work-img {
    width: 76%;
  }
  main section#websites .works-wrapper .work-container .work-img img {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#websites .works-wrapper .work-container div.work-title {
    width: 54%;
  }
  main section#websites .works-wrapper .work-container div.work-title a {
    margin-left: -60px;
    margin-top: 40px;
  }
  main section#websites .works-wrapper .work-container div.work-title a p {
    font-size: 2.6rem;
    line-height: 42px;
    letter-spacing: 0px;
  }
  main section#websites .back {
    top: 30px;
    right: 30px;
    font-size: 0.9rem;
    letter-spacing: 0.7px;
  }
  main section#websites .lines-tr {
    top: 18px;
    width: 160px;
  }
  main section#websites .lines-tr::before {
    top: -18px;
    right: 18px;
    height: 105px;
  }
  main section#websites .lines-bl {
    bottom: 18px;
    width: 160px;
  }
  main section#websites .lines-bl::before {
    bottom: -18px;
    left: 18px;
    height: 105px;
  }
  main section#contact {
    padding: 0 180px;
  }
  main section#contact h2#find-me {
    font-size: 2.4rem;
    line-height: 50px;
    letter-spacing: 1.1px;
    margin-bottom: 8px;
  }
  main section#contact .social-media-links {
    margin-bottom: 18px;
  }
  main section#contact .social-media-links a:not(:last-child) {
    margin-right: 14px;
  }
  main section#contact .social-media-links a p {
    font-size: 1.4rem;
    line-height: 30px;
    letter-spacing: 0.8px;
  }
  main section#contact h2#feel-free {
    font-size: 1.3rem;
    line-height: 30px;
    letter-spacing: 0.8px;
  }
  main section#contact h2#feel-free a {
    font-weight: 800;
  }
  main section#contact h2#feel-free a.copied::before {
    top: -56%;
    left: -28%;
    width: 100px;
    height: 20px;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-size: 0.62rem;
  }
  main section#contact h2#feel-free a.copied::after {
    top: -12%;
    left: 47%;
    width: 7px;
    height: 7px;
  }
  main section#contact .back {
    top: 30px;
    right: 30px;
    font-size: 0.9rem;
    letter-spacing: 0.7px;
  }
  main section#contact .lines-tr {
    top: 18px;
    width: 160px;
  }
  main section#contact .lines-tr::before {
    top: -18px;
    right: 18px;
    height: 105px;
  }
  main section#contact .lines-bl {
    bottom: 18px;
    width: 160px;
  }
  main section#contact .lines-bl::before {
    bottom: -18px;
    left: 18px;
    height: 105px;
  }
  .logo {
    line-height: 22px;
    font-size: 0.8rem;
    top: 16px;
    left: 12px;
  }
  .copyright {
    font-size: 0.66rem;
    letter-spacing: 1.9px;
    bottom: 12px;
    right: -40px;
  }
  .lines-tr {
    top: 18px;
    width: 160px;
  }
  .lines-tr::before {
    top: -18px;
    right: 18px;
    height: 105px;
  }
  .lines-bl {
    bottom: 18px;
    width: 160px;
  }
  .lines-bl::before {
    bottom: -18px;
    left: 18px;
    height: 105px;
  }
}

@media only screen and (max-width: 801px) {
  .wrapper .loader {
    width: 148px;
    height: 148px;
  }
  .wrapper h1 {
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 2.4px #84691f;
    margin-top: -300px;
  }
  .wrapper svg {
    overflow: visible;
  }
  .wrapper path {
    margin-top: -50px;
  }
  main {
    height: 100vh;
    width: 100vw;
  }
  main section#nav {
    width: 100%;
    height: 100vh;
  }
  main section#nav p {
    width: 160%;
  }
  main section#nav p:nth-child(2) {
    -webkit-transform: translateX(-720px);
            transform: translateX(-720px);
  }
  main section#nav p span {
    font-size: 4rem;
    letter-spacing: 1px;
    -webkit-text-stroke: 0.6px #ddc06e;
    margin-right: 50px;
  }
  main section#nav p:nth-child(1) span:hover::before {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  main section#nav p:nth-child(2) span:hover::before {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  main section#about .about-wrapper {
    margin: 0px 0px 0px 0;
    padding: 100px 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 300px 1fr;
        grid-template-rows: 300px 1fr;
    grid-row-gap: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 100vw;
    overflow-y: scroll;
  }
  main section#about .about-wrapper::-webkit-scrollbar {
    width: 8px;
    opacity: 1;
  }
  main section#about .about-wrapper::-webkit-scrollbar-track {
    background: transparent;
    width: 6px;
    margin: 0px;
  }
  main section#about .about-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.24);
    opacity: 0.1;
    width: 6px;
    margin: 0px;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
  }
  main section#about .about-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  main section#about .about-wrapper .about-img {
    width: 68%;
    height: 350px;
    margin-top: 0px;
  }
  main section#about .about-wrapper .about-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#about .about-wrapper .text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 90%;
    height: auto;
    margin-left: 0px;
    margin-bottom: 80px;
  }
  main section#about .about-wrapper .text h2 {
    width: 100%;
    font-size: 2.4rem;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 14px;
  }
  main section#about .about-wrapper .text h3 {
    font-size: 1.4rem;
    margin-bottom: 8px;
  }
  main section#about .about-wrapper .text p {
    width: 100%;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.6px;
    margin-bottom: 0px;
  }
  main section#about .back {
    top: 28px;
    right: 28px;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
  }
  main section#about .lines-tr {
    top: 16px;
    width: 120px;
  }
  main section#about .lines-tr::before {
    top: -16px;
    right: 16px;
    height: 85px;
  }
  main section#about .lines-bl {
    bottom: 16px;
    width: 120px;
  }
  main section#about .lines-bl::before {
    bottom: -16px;
    left: 16px;
    height: 85px;
  }
  main section#artworks {
    width: 100%;
    height: 100%;
  }
  main section#artworks .works-wrapper {
    padding: 0 143px;
  }
  main section#artworks .works-wrapper::-webkit-scrollbar {
    width: 8px;
  }
  main section#artworks .works-wrapper::-webkit-scrollbar-track {
    width: 6px;
  }
  main section#artworks .works-wrapper::-webkit-scrollbar-thumb {
    width: 6px;
  }
  main section#artworks .works-wrapper .work-container {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 120%;
    height: 250px;
  }
  main section#artworks .works-wrapper .work-container .work-img {
    width: 60%;
  }
  main section#artworks .works-wrapper .work-container .work-img img {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#artworks .works-wrapper .work-container div.work-title {
    width: 40%;
  }
  main section#artworks .works-wrapper .work-container div.work-title a {
    margin-left: -56px;
    margin-top: 40px;
  }
  main section#artworks .works-wrapper .work-container div.work-title a p {
    font-size: 2.4rem;
    line-height: 42px;
    letter-spacing: 0px;
  }
  main section#artworks .back {
    top: 28px;
    right: 28px;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
  }
  main section#artworks .lines-tr {
    top: 16px;
    width: 120px;
  }
  main section#artworks .lines-tr::before {
    top: -16px;
    right: 16px;
    height: 85px;
  }
  main section#artworks .lines-bl {
    bottom: 16px;
    width: 120px;
  }
  main section#artworks .lines-bl::before {
    bottom: -16px;
    left: 16px;
    height: 85px;
  }
  main section#websites {
    width: 100%;
    height: 100%;
  }
  main section#websites .works-wrapper {
    padding: 0 143px;
  }
  main section#websites .works-wrapper::-webkit-scrollbar {
    width: 8px;
  }
  main section#websites .works-wrapper::-webkit-scrollbar-track {
    width: 6px;
  }
  main section#websites .works-wrapper::-webkit-scrollbar-thumb {
    width: 6px;
  }
  main section#websites .works-wrapper .work-container {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 120%;
    height: 250px;
  }
  main section#websites .works-wrapper .work-container .work-img {
    width: 60%;
  }
  main section#websites .works-wrapper .work-container .work-img img {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#websites .works-wrapper .work-container div.work-title {
    width: 40%;
  }
  main section#websites .works-wrapper .work-container div.work-title a {
    margin-left: -56px;
    margin-top: 40px;
  }
  main section#websites .works-wrapper .work-container div.work-title a p {
    font-size: 2.4rem;
    line-height: 42px;
    letter-spacing: 0px;
  }
  main section#websites .back {
    top: 28px;
    right: 28px;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
  }
  main section#websites .lines-tr {
    top: 16px;
    width: 120px;
  }
  main section#websites .lines-tr::before {
    top: -16px;
    right: 16px;
    height: 85px;
  }
  main section#websites .lines-bl {
    bottom: 16px;
    width: 120px;
  }
  main section#websites .lines-bl::before {
    bottom: -16px;
    left: 16px;
    height: 85px;
  }
  main section#contact {
    padding: 0 143px;
  }
  main section#contact h2#find-me {
    font-size: 2.2rem;
    line-height: 40px;
    letter-spacing: 1.1px;
    margin-bottom: 8px;
  }
  main section#contact .social-media-links {
    margin-bottom: 16px;
  }
  main section#contact .social-media-links a:not(:last-child) {
    margin-right: 12px;
  }
  main section#contact .social-media-links a p {
    font-size: 1.2rem;
    line-height: 26px;
    letter-spacing: 0.8px;
  }
  main section#contact h2#feel-free {
    font-size: 1.1rem;
    line-height: 24px;
    letter-spacing: 0.8px;
  }
  main section#contact h2#feel-free a {
    font-weight: 800;
  }
  main section#contact h2#feel-free a.copied::before {
    top: -60%;
    left: -28%;
    width: 100px;
    height: 16px;
    line-height: 16px;
    letter-spacing: 0px;
    font-size: 0.62rem;
    border: 0.8px solid #24165a;
  }
  main section#contact h2#feel-free a.copied::after {
    top: -20%;
    left: 47%;
    width: 6px;
    height: 6px;
    border: 0.8px solid #24165a;
    border-top: .8px solid transparent;
    border-left: .8px solid transparent;
  }
  main section#contact .back {
    top: 28px;
    right: 28px;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
  }
  main section#contact .lines-tr {
    top: 16px;
    width: 120px;
  }
  main section#contact .lines-tr::before {
    top: -16px;
    right: 16px;
    height: 85px;
  }
  main section#contact .lines-bl {
    bottom: 16px;
    width: 120px;
  }
  main section#contact .lines-bl::before {
    bottom: -16px;
    left: 16px;
    height: 85px;
  }
  .logo {
    line-height: 20px;
    font-size: 0.75rem;
    top: 16px;
    left: 12px;
  }
  .copyright {
    font-size: 0.54rem;
    letter-spacing: 1.6px;
    bottom: 12px;
    right: -40px;
  }
  .lines-tr {
    top: 16px;
    width: 120px;
  }
  .lines-tr::before {
    top: -16px;
    right: 16px;
    height: 85px;
  }
  .lines-bl {
    bottom: 16px;
    width: 120px;
  }
  .lines-bl::before {
    bottom: -16px;
    left: 16px;
    height: 85px;
  }
}

@media only screen and (max-width: 710px) {
  .wrapper .loader {
    width: 140px;
    height: 140px;
  }
  .wrapper h1 {
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 2.4px #84691f;
    margin-top: -300px;
  }
  .wrapper svg {
    overflow: visible;
  }
  .wrapper path {
    margin-top: -50px;
  }
  main {
    height: 100vh;
    width: 100vw;
  }
  main section#nav {
    width: 100%;
    height: 100vh;
  }
  main section#nav p {
    width: 160%;
  }
  main section#nav p:nth-child(2) {
    -webkit-transform: translateX(-720px);
            transform: translateX(-720px);
  }
  main section#nav p span {
    font-size: 3.5rem;
    letter-spacing: .5px;
    -webkit-text-stroke: 0.36px #ddc06e;
    margin-right: 36px;
  }
  main section#nav p:nth-child(1) span:hover::before {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  main section#nav p:nth-child(2) span:hover::before {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  main section#about .about-wrapper {
    margin: 0px 0px 0px 0;
    padding: 100px 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 300px 1fr;
        grid-template-rows: 300px 1fr;
    grid-row-gap: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 100vw;
    overflow-y: scroll;
  }
  main section#about .about-wrapper::-webkit-scrollbar {
    width: 8px;
  }
  main section#about .about-wrapper::-webkit-scrollbar-track {
    width: 3px;
  }
  main section#about .about-wrapper::-webkit-scrollbar-thumb {
    width: 3px;
  }
  main section#about .about-wrapper .about-img {
    width: 75%;
    height: 320px;
    margin-top: 0px;
  }
  main section#about .about-wrapper .about-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#about .about-wrapper .text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 90%;
    height: auto;
    margin-left: 0px;
    margin-bottom: 80px;
  }
  main section#about .about-wrapper .text h2 {
    width: 100%;
    font-size: 2.4rem;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 14px;
  }
  main section#about .about-wrapper .text h3 {
    font-size: 1.4rem;
    margin-bottom: 8px;
  }
  main section#about .about-wrapper .text p {
    width: 100%;
    font-size: .8rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
  }
  main section#about .back {
    top: 24px;
    right: 24px;
  }
  main section#about .lines-tr {
    top: 14px;
    width: 105px;
  }
  main section#about .lines-tr::before {
    top: -14px;
    right: 14px;
    height: 75px;
  }
  main section#about .lines-bl {
    bottom: 14px;
    width: 105px;
  }
  main section#about .lines-bl::before {
    bottom: -14px;
    left: 14px;
    height: 75px;
  }
  main section#artworks {
    width: 100%;
    height: 100%;
  }
  main section#artworks .works-wrapper {
    padding: 0 123px;
  }
  main section#artworks .works-wrapper::-webkit-scrollbar {
    width: 8px;
  }
  main section#artworks .works-wrapper::-webkit-scrollbar-track {
    width: 6px;
  }
  main section#artworks .works-wrapper::-webkit-scrollbar-thumb {
    width: 6px;
  }
  main section#artworks .works-wrapper .work-container {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 120%;
    height: 220px;
  }
  main section#artworks .works-wrapper .work-container .work-img {
    width: 60%;
  }
  main section#artworks .works-wrapper .work-container .work-img img {
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#artworks .works-wrapper .work-container div.work-title {
    width: 40%;
  }
  main section#artworks .works-wrapper .work-container div.work-title a {
    margin-left: -50px;
    margin-top: 36px;
  }
  main section#artworks .works-wrapper .work-container div.work-title a p {
    font-size: 1.9rem;
    line-height: 32px;
    letter-spacing: 0px;
  }
  main section#artworks .back {
    top: 24px;
    right: 24px;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
  }
  main section#artworks .lines-tr {
    top: 14px;
    width: 105px;
  }
  main section#artworks .lines-tr::before {
    top: -14px;
    right: 14px;
    height: 75px;
  }
  main section#artworks .lines-bl {
    bottom: 14px;
    width: 105px;
  }
  main section#artworks .lines-bl::before {
    bottom: -14px;
    left: 14px;
    height: 75px;
  }
  main section#websites {
    width: 100%;
    height: 100%;
  }
  main section#websites .works-wrapper {
    padding: 0 123px;
  }
  main section#websites .works-wrapper::-webkit-scrollbar {
    width: 8px;
  }
  main section#websites .works-wrapper::-webkit-scrollbar-track {
    width: 6px;
  }
  main section#websites .works-wrapper::-webkit-scrollbar-thumb {
    width: 6px;
  }
  main section#websites .works-wrapper .work-container {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 120%;
    height: 220px;
  }
  main section#websites .works-wrapper .work-container .work-img {
    width: 60%;
  }
  main section#websites .works-wrapper .work-container .work-img img {
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section#websites .works-wrapper .work-container div.work-title {
    width: 40%;
  }
  main section#websites .works-wrapper .work-container div.work-title a {
    margin-left: -50px;
    margin-top: 36px;
  }
  main section#websites .works-wrapper .work-container div.work-title a p {
    font-size: 1.9rem;
    line-height: 32px;
    letter-spacing: 0px;
  }
  main section#websites .back {
    top: 24px;
    right: 24px;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
  }
  main section#websites .lines-tr {
    top: 14px;
    width: 105px;
  }
  main section#websites .lines-tr::before {
    top: -14px;
    right: 14px;
    height: 75px;
  }
  main section#websites .lines-bl {
    bottom: 14px;
    width: 105px;
  }
  main section#websites .lines-bl::before {
    bottom: -14px;
    left: 14px;
    height: 75px;
  }
  main section#contact {
    padding: 0 123px;
  }
  main section#contact h2#find-me {
    font-size: 2rem;
    line-height: 30px;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
  }
  main section#contact .social-media-links {
    margin-bottom: 20px;
  }
  main section#contact .social-media-links a:not(:last-child) {
    margin-right: 14px;
  }
  main section#contact .social-media-links a p {
    font-size: 1.24rem;
    line-height: 24px;
    letter-spacing: 0.6px;
  }
  main section#contact h2#feel-free {
    font-size: 1.14rem;
    line-height: 24px;
    letter-spacing: 0.6px;
  }
  main section#contact h2#feel-free a {
    font-weight: 800;
  }
  main section#contact h2#feel-free a.copied::before {
    top: -64%;
    left: -28%;
    width: 100px;
    height: 18px;
    line-height: 18px;
    letter-spacing: 0.1px;
    font-size: 0.62rem;
    border: 0.8px solid #24165a;
  }
  main section#contact h2#feel-free a.copied::after {
    top: -16%;
    left: 47%;
    width: 6px;
    height: 6px;
    border: 0.8px solid #24165a;
    border-top: .8px solid transparent;
    border-left: .8px solid transparent;
  }
  main section#contact .back {
    top: 24px;
    right: 24px;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
  }
  main section#contact .lines-tr {
    top: 14px;
    width: 105px;
  }
  main section#contact .lines-tr::before {
    top: -14px;
    right: 14px;
    height: 75px;
  }
  main section#contact .lines-bl {
    bottom: 14px;
    width: 105px;
  }
  main section#contact .lines-bl::before {
    bottom: -14px;
    left: 14px;
    height: 75px;
  }
  .logo {
    line-height: 17px;
    font-size: 0.73rem;
    top: 12px;
    left: 9px;
  }
  .copyright {
    font-size: 0.5rem;
    letter-spacing: 1.6px;
    bottom: 10px;
    right: -42px;
  }
  .lines-tr {
    top: 14px;
    width: 105px;
  }
  .lines-tr::before {
    top: -14px;
    right: 14px;
    height: 75px;
  }
  .lines-bl {
    bottom: 14px;
    width: 105px;
  }
  .lines-bl::before {
    bottom: -14px;
    left: 14px;
    height: 75px;
  }
}
/*# sourceMappingURL=style.css.map */