    $main1-05:#290a38;
    $main2-05:hsl(251, 60%, 17%);
    $main3-05:#ddc06e;
    $main4-05:hsl(105, 9%, 65%);
    $main5-05:hsl(56, 19%, 72%);
    $main6-05:#ecf4dc;

    @keyframes deform {
        50%{
            border-radius: 70% 50% 70% 50% / 50% 50% 70% 70%;
        }
    }
    @keyframes deformRotate {
        50% {
            border-radius: 60% 40% 40% 60% / 40% 40% 60% 60%;
          }
    }

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    overflow: hidden;
    width: 100vw;
    min-height: 100vh;
    background-color:  $main4-05;
    transition: all 0.8s ease-in;
  }

  ::selection{
      background-color: $main5-05;
  }

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color:  $main4-05;
    overflow: hidden;
    z-index: 999999;
    transition: all 2s;
    .loader {
      background-color:  $main2-05;
      width: 240px;
      height:240px;
      position: absolute;
      pointer-events: none;
      z-index: 999999;
      animation: deformRotate 5.4s linear infinite;
      border-radius: 40% 60% 60% 40% / 60% 60% 40% 40%;
    }
    h1 {
        font-size: 140px;
        color: transparent;
        -webkit-text-stroke: 3px  hsl(44, 62%, 32%);
        margin-top: -300px;
        z-index: 999999;
      }
      
      svg {
        overflow: visible;
        height: 100%;
        transform: translateZ(0);
      }
      
      path {
        margin-top: -50px;
        stroke-width: 1;
        fill: transparent;
        stroke: transparent;
      }
  }

  main {
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: opacity 0.8s ease-in;
    background-color:  $main1-05;
      section#nav {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
                
        p{
            width: 160%;

            &:nth-child(2){
               transform: translateX(-720px);
            }
           
            span {
                font-size: 9rem;
                letter-spacing: 1.1px;
                color: transparent;
                -webkit-text-stroke: 1px  $main3-05;
                text-transform: capitalize;
                font-family: 'DM Serif Display', serif;
                margin-right: 90px;
                position: relative;
                font-style: normal;
                cursor: pointer;
                
               
            }

            &:nth-child(1){
                span {
                    &:nth-child(2n+1) {
                        font-style: italic;
                    }
                    &::before{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        color:  $main5-05;
                        transition: all .3s ease;
                    }
                    &:nth-child(1)::before{
                        content: "About";
                    }
                    &:nth-child(2)::before{
                        content: "Artworks";
                    }
                    &:nth-child(3)::before{
                        content: "Websites";
                    }
                    &:nth-child(4)::before{
                        content: "Contact";
                    }
                    &:hover::before{
                        opacity: 1;
                        transform: translate(10px, -10px);
                    }
            }
            }

            &:nth-child(2){
                span {

                    &:nth-child(2n) {
                        font-style: italic;
                    }
                    &::before{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        color:  $main5-05;
                        transition: all .3s ease;
                    }
                   
                    &:nth-child(4)::before{
                        content: "About";
                    }
                    &:nth-child(3)::before{
                        content: "Artworks";
                    }
                    &:nth-child(2)::before{
                        content: "Websites";
                    }
                    &:nth-child(1)::before{
                        content: "Contact";
                    }
                    &:hover::before{
                        opacity: 1;
                        transform: translate(-10px, 10px);
                    }
            }
            }
          }
        }

        section#about{
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scaleY(0);
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            background-color: hsl(56, 19%, 72%);
            z-index: 1;
            opacity: 0;
            border-radius: 50%;
            padding: 0 150px;

            .about-img{
                width: 500px;
                height: 500px;
                margin-top: -50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                z-index: 1;
                backface-visibility: hidden;
            
            img{
                filter: saturate(0);
                width: 100%;
                height: 100%;
                object-fit: cover;
                backface-visibility: hidden;
                transition: all .6s;
                transition-timing-function: ease;
                transform: translate(0px, 0px) scale(1);
                &:hover{
                    filter: saturate(.99) contrast(.99);
                    transform: translate(0px, 0px) scale(1.05);
                }
            }
        }

            .text{
                z-index: 2;
                width: 600px;
                height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                mix-blend-mode: color-burn;
                h2{
                    width: 106%;
                    font-size: 5rem;
                    font-style: italic;
                    line-height: 84px;
                    letter-spacing: 1.1px;
                    margin-bottom: 16px;
                    color: #615f42;
                }
                h3{
                    color: #777755;
                    /* font-style: italic; */
                    font-weight: 800;
                    font-size: 2.2rem;
                    margin-bottom: 12px;
                }
            
                p{
                    width: 100%;
                    font-size: 1.2rem;
                    line-height: 30px;
                    letter-spacing: 0.5px;
                    color: #615f42;
                    margin-bottom: -60px;


                    a{
                        text-decoration: none;
                        color: hsl(60, 17%, 40%);
                        font-style: italic;
                        mix-blend-mode: multiply !important;
                        display: inline-block;
                        transition: all .5s ease;

                        &:hover{
                            color: hsl(252, 60%, 22%);
                        }
                    }
                }
        }

            .back{
                position: absolute;
                top: 30px;
                right: 35px;
                font-style: italic;
                font-size: 1.2rem;
                letter-spacing: 1.1px;
                color: $main2-05;
                cursor: pointer;

                &::before{
                    content: "";
                    position: absolute;
                    top: 105%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    opacity: 0;
                    background-color: $main2-05;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: all .4s ease;
                }

                &:hover::before{
                    transform: scaleX(1);
                    opacity: 1;
                }
            }

            .lines-tr {
                opacity: 1;
                background-color:  $main2-05;
                z-index: 999998;
            
                &::before {
                    opacity: 1;
                    background-color:  $main2-05;
                }
            }
            .lines-bl {
                opacity: 1;
                background-color:  $main2-05;
                z-index: 999998;
            
                &::before {
                    opacity: 1;
                    background-color:  $main2-05;
                }
            }
        }

        section#artworks{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scaleY(0);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: hsl(56, 19%, 72%);
            z-index: 1;
            opacity: 0;
            border-radius: 50%;
            
            .works-wrapper {
                margin: 0px 0px 0px 0;
                padding: 0 223px;
                width: 100vw;
            
                height: auto;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 10px;
                    opacity: 1;
                  }
                  
                  &::-webkit-scrollbar-track {
                    background: transparent;
                    width: 7px;
                    margin: 0px;
                  }
                  
                  &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.24);
                    opacity: 0.1;
                    width: 7px;
                    margin: 0px;
                    transition: background-color .3s ease;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.3);
                      }
                  }

            .work-container{
                    margin-top: 100px;
                    margin-bottom: 100px;
                    width: 100%;
                    height: 400px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    .work-img{
                        width: 40%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        backface-visibility: hidden;
                        img{
                            filter: saturate(0);
                            width: 100%;
                            height: 400px;
                            object-fit: cover;
                            z-index: 1;
                            backface-visibility: hidden;
                            transition: all .6s;
                            transition-timing-function: ease;
                            transform: translate(0px, 0px) scale(1);
                            &:hover{
                                filter: saturate(.99) contrast(.99);
                                transform: translate(0px, 0px) scale(1.05);
                            }
                        }
                    }

                    div.work-title{
                        width: 40%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        a{
                            text-decoration: none;
                            width: 100%;
                            margin-left: -100px;
                            margin-top: 80px;
                            cursor: pointer;
                            p{
                                font-size: 5rem;
                                line-height: 75px;
                                letter-spacing: 1.1px;
                                color: hsl(56, 19%, 32%);
                                mix-blend-mode: color-burn;
                                z-index: 2;
                                position: relative;
                                transition: all .4s ease;
                                
                                &:hover {
                                    mix-blend-mode: normal;
                                }
    
                            }
                        }
                    }
    
                }
            }
            
            .back{
                position: absolute;
                top: 30px;
                right: 35px;
                font-style: italic;
                font-size: 1.2rem;
                letter-spacing: 1.1px;
                color: $main2-05;
                cursor: pointer;

                &::before{
                    content: "";
                    position: absolute;
                    top: 105%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    opacity: 0;
                    background-color: $main2-05;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: all .4s ease;
                }

                &:hover::before{
                    transform: scaleX(1);
                    opacity: 1;
                }
            }

            .lines-tr {
                opacity: 1;
                background-color:  $main2-05;
                z-index: 999998;
            
                &::before {
                    opacity: 1;
                    background-color:  $main2-05;
                }
            }
            .lines-bl {
                opacity: 1;
                background-color:  $main2-05;
                z-index: 999998;
            
                &::before {
                    opacity: 1;
                    background-color:  $main2-05;
                }
            }
        }
        section#websites{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scaleY(0);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: hsl(56, 19%, 72%);
            z-index: 1;
            opacity: 0;
            border-radius: 50%;
            
            .works-wrapper {
                margin: 0px 0px 0px 0;
                padding: 0 223px;
                width: 100vw;
                height: auto;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 10px;
                    opacity: 1;
                  }
                  
                  &::-webkit-scrollbar-track {
                    background: transparent;
                    width: 7px;
                    margin: 0px;
                  }
                  
                  &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.24);
                    opacity: 0.1;
                    width: 7px;
                    margin: 0px;
                    transition: background-color .3s ease;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.3);
                      }
                  }
                
            .work-container{
                    margin-top: 100px;
                    margin-bottom: 100px;
                    width: 100%;
                    height: 400px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    .work-img{
                        width: 40%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        backface-visibility: hidden;
                        img{
                            filter: saturate(0);
                            width: 100%;
                            height: 400px;
                            object-fit: cover;
                            z-index: 1;
                            backface-visibility: hidden;
                            transition: all .6s;
                            transition-timing-function: ease;
                            transform: translate(0px, 0px) scale(1);
                            &:hover{
                                filter: saturate(.99) contrast(.99);
                                transform: translate(0px, 0px) scale(1.05);
                            }
                        }
                    }

                    div.work-title{
                        width: 40%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        
                        
                        a{
                            text-decoration: none;
                            width: 100%;
                            margin-left: -100px;
                            margin-top: 80px;
                            cursor: pointer;
                            p{
                                font-size: 5rem;
                                line-height: 75px;
                                letter-spacing: 1.1px;
                                color: hsl(56, 19%, 32%);
                                z-index: 2;
                                position: relative;
                                mix-blend-mode: color-burn;
                                transition: all .4s ease;
                                
                                &:hover {
                                    mix-blend-mode: normal;
                                }
    
                            }
                        }
                    }
    
                }
            }

            .back{
                position: absolute;
                top: 30px;
                right: 35px;
                font-style: italic;
                font-size: 1.2rem;
                letter-spacing: 1.1px;
                color: $main2-05;
                cursor: pointer;

                &::before{
                    content: "";
                    position: absolute;
                    top: 105%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    opacity: 0;
                    background-color: $main2-05;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: all .4s ease;
                }

                &:hover::before{
                    transform: scaleX(1);
                    opacity: 1;
                }
            }
            .lines-tr {
                opacity: 1;
                background-color:  $main2-05;
                z-index: 999998;
            
                &::before {
                    opacity: 1;
                    background-color:  $main2-05;
                }
            }
            .lines-bl {
                opacity: 1;
                background-color:  $main2-05;
                z-index: 999998;
            
                &::before {
                    opacity: 1;
                    background-color:  $main2-05;
                }
            }
        }
        section#contact{
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scaleY(0);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-color: hsl(56, 19%, 72%);
            z-index: 1;
            opacity: 0;
            border-radius: 50%;
            padding: 0 223px;
            
            h2#find-me{
                font-size: 5rem;
                line-height: 84px;
                letter-spacing: 1.1px;
                margin-bottom: 16px;
                color: #615f42;
                mix-blend-mode: color-burn;                
            }

            .social-media-links{
                margin-bottom: 30px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                a{
                    text-decoration: none;
                    &:not(:last-child){
                        margin-right: 24px;
                    }
                    p{
                        font-size: 2.4rem;
                        line-height: 48px;
                        letter-spacing: 1.1px;
                        color: hsl(56, 19%, 32%);
                        mix-blend-mode: color-burn;
                        z-index: 2;
                        transition: all .5s ease;
                        
                        &:hover{
                            color: hsl(280, 69%, 24%);
                        }
                    }
                }
            }

            h2#feel-free{
                font-size: 2.2rem;
                font-weight: 200;
                line-height: 84px;
                letter-spacing: 1.1px;
                margin-bottom: 0px;
                color: #615f42;
                mix-blend-mode: color-burn;
                
                a{
                    font-weight: 800;
                    text-decoration: none;
                    color: hsl(60, 17%, 50%);
                    font-style: italic;
                    mix-blend-mode: multiply !important;
                    display: inline-block;
                    transition: all .5s ease;
                    position: relative;

                    &:hover{
                        color: hsl(252, 60%, 22%);
                    }


                    &.copied::before{
                        content: "Successfully Copied!";
                        position: absolute;
                        top: -10%;
                        left: -28%;
                        width: 140px;
                        height: 28px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        line-height: 26px;
                        color: hsl(252, 60%, 22%);
                        font-style: normal;
                        font-weight: 200;
                        font-family: Helvetica;
                        opacity: 1;
                        letter-spacing: 0.2px;
                        font-size: 0.8rem;
                        background-color: hsla(0, 100%, 100%, 1);
                        border: 1px solid hsl(252, 60%, 22%);
                        transform-origin: left;
                        transition: all .4s ease;
                        mix-blend-mode: normal;
                    }
                    &.copied::after{
                        content: "";
                        position: absolute;
                        top: 13%;
                        left: 47%;
                        width: 9px;
                        height: 9px;
                        opacity: 1;
                        z-index: 1;
                        background-color: hsl(0, 100%, 101%);
                        border: 1px solid hsl(252, 60%, 22%);
                        border-top: 1px solid transparent;
                        border-left: 1px solid transparent;
                        transform-origin: left;
                        transition: all .4s ease;
                        mix-blend-mode: normal;
                        transform: rotate(45deg);
                    }
    
                    &:active{
                        transform: scale(.96);
                    }

                }
            }
            
            .back{
                position: absolute;
                top: 30px;
                right: 35px;
                font-style: italic;
                font-size: 1.2rem;
                letter-spacing: 1.1px;
                color: $main2-05;
                cursor: pointer;

                &::before{
                    content: "";
                    position: absolute;
                    top: 105%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    opacity: 0;
                    background-color: $main2-05;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: all .4s ease;
                }

                &:hover::before{
                    transform: scaleX(1);
                    opacity: 1;
                }
            }
            .lines-tr {
                opacity: 1;
                background-color:  $main2-05;
                z-index: 999998;
            
                &::before {
                    opacity: 1;
                    background-color:  $main2-05;
                }
            }
            .lines-bl {
                opacity: 1;
                background-color:  $main2-05;
                z-index: 999998;
            
                &::before {
                    opacity: 1;
                    background-color:  $main2-05;
                }
            }
        }
  }


  /* MOUSE TRACKER START */
#tracker {
    width: 75px;
    height:75px;
    background:  $main2-05;
    border-radius: 50% 70% 50% 70% / 70% 70% 50% 50%;
    position: absolute;
    opacity: 1;
    transition: width .1s ease-out;
    pointer-events: none;
    z-index: 99999;
    mix-blend-mode: overlay;
    animation: deform 3.6s ease infinite;
}
.logo{
    position: absolute;
    top: 20px;
    left: 14px;
    line-height: 27px;
    font-size: 1.05rem;
    letter-spacing: 0px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    opacity: .7;
    font-family: Helvetica !important;
    font-weight: 100;
    color:  $main3-05;
    text-transform: capitalize;
    font-family: 'DM Serif Display', serif;
    margin-right: 50px;
    font-style: italic;
    z-index: 999998;
    cursor: none;
    user-select: none;
    pointer-events: none;
}
.copyright{
    position: absolute;
    bottom: 15px;
    right: -33px;
    font-size: 0.9rem;
    letter-spacing: 2.8px;
    opacity: .7;
    font-family: Helvetica !important;
    font-weight: 200;
    color:  $main3-05;
    text-transform: capitalize;
    font-family: 'DM Serif Display', serif;
    margin-right: 50px;
    font-style: italic;
    z-index: 999998;
    cursor: none;
    user-select: none;
    pointer-events: none;
}

.lines-tr {
    position: absolute;
    top: 20px;
    right: 0px;
    opacity: .7;
    width: 200px;
    height: 1px;
    background-color:  $main3-05;
    z-index: 1;
    cursor: none;
    user-select: none;
    pointer-events: none;

    &::before {
        content: "";
        position: absolute;
        top: -20px;
        right: 20px;
        opacity: .7;
        width: 1px;
        height: 125px;
        background-color:  $main3-05;
        cursor: none;
        user-select: none;
        pointer-events: none;
    }
}
.lines-bl {
    position: absolute;
    bottom: 20px;
    left: 0px;
    opacity: .7;
    width: 200px;
    height: 1px;
    background-color:  $main3-05;
    z-index: 1;
    cursor: none;
    user-select: none;
    pointer-events: none;

    &::before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 20px;
        opacity: .7;
        width: 1px;
        height: 125px;
        background-color:  $main3-05;
        cursor: none;
        user-select: none;
        pointer-events: none;
    }
}